<body>
        <h2>
            recipe
            
        </h2>
        <p><a href="/">home</a></p>
        <ul>
            {% for item in data %}
                <li>
                    {{ item.title }} -- by 
                        <a href="http://localhost:8000/author/{{item.author}}">{{ item.author }}</a>
                    <ul>
                        <li>
                            Description: {{ item.body }}
                        </li>
                        <li>
                            Time Required: {{ item.time_required }}
                        </li>
                        <li>
                            Instructions: {{ item.instructions }}
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>

        {% if user == author or staff%}
            {% for item in data %}
                <a href="http://localhost:8000/recipe/edit/{{ item.id }}">Edit This Recipe</a>
            {% endfor %}
        {% endif %}


        
        {% if request.user == logged_in_user %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ item.title }}" name="title">
            <a href=""><input type="submit" value="Favorite This Recipe"></a>
        </form>
        {% endif %}
        
</body>